[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
pytest = "*"
pytest-flask = "*"
marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.10"
